---
import { Image } from "astro:assets";
import image0 from "./_assets/0.png";
import image1 from "./_assets/1.png";
import image2 from "./_assets/2.png";
import image3 from "./_assets/3.png";
import image4 from "./_assets/4.png";
import image5 from "./_assets/5.png";
import image6 from "./_assets/6.png";
import image7 from "./_assets/7.png";
import image8 from "./_assets/8.png";
import image9 from "./_assets/9.jpeg";
import image10 from "./_assets/10.png";
import image11 from "./_assets/11.png";
import image12 from "./_assets/12.png";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="pedroalonsoms - Ecoa">
  <main class="max-w-screen-lg mx-auto px-6">
    <section class="pt-10">
      <h1 class="text-4xl md:text-5xl">
        <span class="text-gray-500">#</span> Ecoa
      </h1>

      <ul class="pt-6">
        <li>
          <strong>- GitHub:</strong>
          <a
            class="underline break-all"
            target="_blank"
            href="https://github.com/pedroalonsoms/ecoa"
          >
            https://github.com/pedroalonsoms/ecoa
          </a>
        </li>
      </ul>

      <p class="pt-6">
        Implemented a survey school system within a team of 5 at my 4th semester
        in college. Consists of a Unity videogame, a dashboard and a
        web-backend.
      </p>

      <div class="pt-6 grid gap-6 sm:grid-cols-3">
        <Image src={image0} width={720} class="w-full" alt="Ecoa" />
        <Image src={image1} width={720} class="w-full" alt="Ecoa" />
        <Image src={image2} width={720} class="w-full" alt="Ecoa" />
        <Image src={image3} width={720} class="w-full" alt="Ecoa" />
        <Image src={image4} width={720} class="w-full" alt="Ecoa" />
        <Image src={image5} width={720} class="w-full" alt="Ecoa" />
        <Image src={image6} width={720} class="w-full" alt="Ecoa" />
        <Image src={image7} width={720} class="w-full" alt="Ecoa" />
        <Image src={image8} width={720} class="w-full" alt="Ecoa" />
        <Image src={image9} width={720} class="w-full" alt="Ecoa" />
        <Image src={image10} width={720} class="w-full" alt="Ecoa" />
        <Image src={image11} width={720} class="w-full" alt="Ecoa" />
        <Image src={image12} width={720} class="w-full" alt="Ecoa" />
      </div>
    </section>
  </main>
</Layout>
