---
import { Image } from "astro:assets";
import image0 from "./_assets/0.png";
import image1 from "./_assets/1.png";
import image2 from "./_assets/2.png";
import image3 from "./_assets/3.png";
import image4 from "./_assets/4.png";
import image5 from "./_assets/5.png";
import image6 from "./_assets/6.png";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="pedroalonsoms - Laika">
  <main class="max-w-screen-lg mx-auto px-6">
    <section class="pt-10">
      <h1 class="text-5xl">
        <span class="text-gray-500">#</span> Laika
      </h1>

      <ul class="pt-6">
        <li>
          <strong>- GitHub:</strong>
          <a
            class="underline break-all"
            target="_blank"
            href="https://github.com/pedroalonsoms/laika"
          >
            https://github.com/pedroalonsoms/laika
          </a>
        </li>
      </ul>

      <p class="pt-6">
        Me and 5 friends implemented a social impact project that consisted in a
        website to track animal adoptions in a foundation named Laika at
        Sinaloa, MX.
      </p>

      <div class="pt-6 grid gap-6 sm:grid-cols-3">
        <Image src={image0} width={720} class="w-full" alt="Laika" />
        <Image src={image1} width={720} class="w-full" alt="Laika" />
        <Image src={image2} width={720} class="w-full" alt="Laika" />
        <Image src={image3} width={720} class="w-full" alt="Laika" />
        <Image src={image4} width={720} class="w-full" alt="Laika" />
        <Image src={image5} width={720} class="w-full" alt="Laika" />
        <Image src={image6} width={720} class="w-full" alt="Laika" />
      </div>
    </section>
  </main>
</Layout>
